body {
	margin: 0;
}

#video {
	display: block;
	transform: rotateZ(180deg); /* なぜか天地反転するので天地反転し返す */
	position: fixed;
	top: 0; left: 100vw;
	width: 100vw; height: 100vh;
}

#canvas {
	display: block;
	position: fixed;
	top: 0; left: 0;
	width: 100vw; height: 100vh;
}